.todo-row {
    border: 1px solid rgb(27, 27, 27);
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 4px 10px 10px 10px;
    color: #fff;
    background: linear-gradient(45deg, #660708 0%, #BA181B 100%);
    padding: 16px;
    border-radius: 10px;
    /* width: 95%; */
    text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.todo-text {
    font-size: 30px;
    width: 81%;
    
}
@keyframes complete {
  from{
    background:linear-gradient(45deg, #660708 0%, #BA181B 100%);
  }
  to{
    background: #260303
  }
}
.complete {
    transition: background-color 0.5s ease;
    background: #303538
}
p{
    margin: auto;
    
}

